body {
  @include media($small-screen) {
    font-size: 0.8rem;
  }
}

.container {
  @include outer-container;

  p {
    font-size: 1.25em;
  }
}

section {
  padding: 5em 2em;

  &:last-of-type {
    border-bottom: none;
  }
}

pre {
  margin-bottom: 2em;
}

code {
  background-color: $slate;
  border-radius: 4px;
  color: $green;
  font-family: monospace, serif;
  font-size: 1em;
  margin: 0 0.25em;
  padding: 0.25em 0.33em;
  box-shadow: 0.33em 0 0 $slate, -0.33em 0 0 $slate;
}

.intro {
  padding: 2em 0;
}

.section-title {
  margin-bottom: 2em;
  text-align: center;
}
