.container {
  @include outer-container;

  p {
    font-size: 1.5em;
  }
}

section {
  border-bottom: 1px solid #ccc;
  padding: 2em;
}

pre {
  margin-bottom: 2em;
}

code {
  background-color: tint($dark-gray, 85%);
  border-radius: 4px;
  color: $blue;
  font-family: monospace, serif;
  font-size: 14px;
  padding: 0.33em 0.66em;
}

dd {
  margin-bottom: 2em;
}

.intro {
  padding: 2em 0 4em;
}
