body {
  background: $light-gray;
  color: $medium-gray;
}

.hero {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  @include linear-gradient($blue, mix($blue, $aqua));
  height: 90vh;
  max-height: 40em;

  .container {
    text-align: center;
  }
}
