.hero {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  @include linear-gradient($blue, mix($blue, $aqua));
  box-shadow: 0 0 8px rgba(#000, 0.8);
  color: #eee;
  height: 50vh;
  min-height: 25em;

  .container {
    text-align: center;
  }

  img {
    @include size(240px);
  }

  h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
  }

  p {
    margin-bottom: 2em;
  }

  a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }

  .button {
    background: mix($blue, $aqua);
    box-shadow: 0 0 0 mix($blue, $aqua);
    color: $light-gray;
    margin: 0 0.25em 0.5em;

    &:hover {
      box-shadow: 0 0 0 0.2em mix($blue, $aqua);
      color: #fff;
    }
  }
}
