.kits {
  @include clearfix;

  li {
    @include omega(3n);
    @include span-columns(4);
    color: $light-gray;
    font-size: em(13);
    margin-bottom: 2em;
    text-align: center;

    img {
      @include transition(transform, 0.1s);
      border-radius: 50%;
      margin-bottom: 1em;

      &:hover {
        @include transform(scale(1.1));
      }
    }
  }
}
