// Vendor
@import "vendor/normalize";
@import "bourbon";
@import "neat";

@import "base/base";
@import "global";
@import "hero";
@import "tools";
@import "kits";
@import "footer";

.notice {
  font-weight: 600;
  padding: 1.5rem;
  text-align: center;
}
