@import 'neat-helpers';

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(700);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$small-screen: new-breakpoint(max-width $medium-screen 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
