// Typography
$sans-serif: "calluna-sans", $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: "proxima-nova", $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.35;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: 0.75em;

// Colors
$blue: #156178;
$aqua:#4ABAB0;
$green: #A2DCB8;
$orange: #ED8E42;
$red: #AD4838;
$dark-gray: #3A484D;
$medium-gray: #888;
$slate: shade($dark-gray, 20%);
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: $dark-gray;

// Font Colors
$base-font-color: $light-gray;
$base-accent-color: $orange;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
