%button {
  @include transition(all, 100ms);
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 0 0 white;
  color: $dark-gray;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 1em 1.25em 0.9em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 0 0 0.2em white;
    color: $orange;
  }
}
