$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
@import "bourbon";

@include keyframes(orbit) {
  $steps: 20;

  @for $step from 0 through $steps {
    $factor: $step/$steps;
    $percent: $factor * 100%;
    $degrees: $factor * 360deg;
    $edge: 75px;
    $peaks: 4;
    $wobble: sin($degrees * 5) * 5;
    $offset: $wobble + $edge;

    #{$percent} {
      @include transform(rotate($degrees) translateX($offset));
    }
  }
}

#logo {
  $aqua: #4ABAB0;
  $blobs: 120;
  $duration: 60s;

  #nucleus {
    fill: $aqua;
    position: relative;
  }

  #particles {
    circle {
      @include animation(orbit $duration linear infinite);
      @include transform-origin(50%);
      fill: $aqua;

      @for $blob from 0 through $blobs {
        $percent: $blob/$blobs;
        $delay: $duration * $percent * -1;

        &:nth-child(#{$blob}) {
          @include animation-delay($delay);
          @include animation-duration($duration * 0.9);
        }
      }

      &:nth-child(even) {
        @include animation-direction(reverse);
        @include animation-duration($duration * 0.5);
      }

      &:nth-child(3) {
        @include animation-duration($duration * 1.6);
      }
    }
  }
}
